@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --luckiest: "Luckiest Guy", cursive;
  --poppins: "Poppins, sans-serif";
  --rubik: "Rubik One-Regular, Helvetica";
  --hero-p-color: #08504d;
  --cactus-text-color: #5e3d1c;
  --table-font-clor: #5e3d1c;
  --footer-color: #f5aa52;
  --login-bg-color: #fcfeff;
  --singup-text-color: #6dd47e;
}

@font-face {
  font-family: "Rubik One-Regular";
  src: url("/RubikOne-Regular.ttf");
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

/* login button style */

.button__custom {
  border-radius: 6px;
  background: linear-gradient(94deg, #45caa0 13.79%, #10bb85 92.08%);
  box-shadow: 0px 4px 21px 0px rgba(0, 0, 0, 0.08);
}

.button__custom:hover {
  background: #f5aa52;
}

.banner-button {
  border-radius: 100px;
  background: linear-gradient(94deg, #45caa0 13.79%, #10bb85 92.08%);
  box-shadow: 0px 4px 0px 0px #017f58;
}
.banner-button:hover {
  background: #f5aa52;
  box-shadow: 0px 4px 0px 0px #ee952f;
}
.shadow-text {
  text-shadow: 5px 4px #12b5a9;
}
.banner-text-color {
  color: var(--hero-p-color);
}
.cactus-text-color {
  color: var(--cactus-text-color);
}
.table-font-color {
  color: var(--table-font-clor);
}

.td-broder {
  height: 14px;
  width: 1px;
  align-items: "center";
  background: var(--table-font-clor);
}
.card-shadow {
  box-shadow: 0px 4px 21px rgba(210, 139, 121, 0.3);
}
.footer-bg {
  background-color: var(--footer-color);
}
.login_bg {
  position: relative;
  color: var(--cactus-text-color);
}
.login {
  width: 850px;
  height: 1024px;
  padding: 0 100px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fcfeff;
  border: 2px solid #08504d;
  border-radius: 50px 0 0 50px;
}
.login_header {
  margin: 100px 0 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login_header > h2 {
  font-family: var(--luckiest);
  color: var(--singup-text-color);
  font-size: 30px;
  font-weight: 400;
}
.login_title {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  font-size: 24px;
  font-weight: 700;
}
.login_title_border {
  border-bottom: 4px solid #13bc87;
}
.login_title > div {
  width: 3px;
  height: 20px;
  background-color: var(--cactus-text-color);
}
.login_welcome {
  margin: 50px 0;
  font-family: "Rubik One-Regular";
  font-size: 60px;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
}
.input_field > input {
  display: flex;
  width: 100%;
  height: 62px;
  padding: 24px 40px;
  align-items: center;
  border: 1px solid #5e3d1c;
  border-radius: 20px;
  gap: 8px;
}
.input_field {
  color: #5e3d1c;
  text-align: center;
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.input_wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.forget_pass {
  padding: 20px;
  text-align: end;
  color: #178bbd;
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 700;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.create_account {
  margin-top: 60px;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.create_account>a{
  color: #18BD89;
}

@media only screen and (max-width: 768px) {
  .login {
    width: 100%;
    height: 800px;
    position: absolute;
    padding: 40px;
    border-radius: 50px;
    top: 150px;
  }
  .login_welcome {
    font-size: 30px;
  }
  .login_header {
    margin: 10px 0 10px 0;
  }
 
}